body {
  background-image: url("photo.jpg");
  background-size: 100% 100%;
}

#border {
  border: 2px solid rgb(57, 255, 20);
}

#text {
  height: 110px;
  border: 2px solid black;
}

p {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  color: rgb(57, 255, 20);
}
#starting {
  display: flex;
  justify-content: center;
  color: rgb(57, 255, 20);
  font-size: large;
  font-family: "Ubuntu", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  margin: 3px;
}
